.form-login {
    width: 154px;
    height: 41px;
    outline: none!important;
    box-sizing: inherit;
    font-family: IRANYekan,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
    direction: rtl;
}