.main 
{
    outline: none!important;
    box-sizing: inherit;
    font-family: IRANYekan,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
    direction: rtl;
}
.login-box 
{
    border-radius: 8px;
    border: 1px solid #ededed;
    padding: 30px;
    width: 380px;
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
}